@media (min-width: 1024px) {
    .filament-input-group > .grid {
        gap: 0;
    }

    .filament-input-group > .grid  .fi-fo-field-wrp:first-child .fi-input-wrp,
    .filament-input-group > .grid > :first-child .fi-input-wrp .choices__inner {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .filament-input-group > .grid > :not(:first-child):not(:last-child) .fi-input-wrp,
    .filament-input-group > .grid > :not(:first-child):not(:last-child) .fi-input-wrp .choices__inner {
        border-radius: 0;
        border-left: none;
    }

    .filament-input-group > .grid > :last-child .fi-input-wrp,
    .filament-input-group > .grid > :last-child .fi-input-wrp .choices__inner {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
    }
}
