@import 'aos/dist/aos.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BurBank';
    src:
        url('/resources/fonts/BurbankBigCondensed/BurbankBigCondensed-Bold.ttf') format('truetype'),
        url("/resources/fonts/BurbankBigCondensed/BurbankBigCondensed-Bold.woff2") format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BurBank';
    src:
        url('/resources/fonts/BurbankBigCondensed/BurbankBigCondensed-Medium.ttf') format('truetype'),
        url("/resources/fonts/BurbankBigCondensed/BurbankBigCondensed-Medium.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BurBank';
    src:
        url('/resources/fonts/BurbankBigCondensed/BurbankBigCondensed-Light.ttf') format('truetype'),
        url("/resources/fonts/BurbankBigCondensed/BurbankBigCondensed-Light.woff2") format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'arlon';
    src:
        url('/resources/fonts/arlon/arlon-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'arlon';
    src:
        url('/resources/fonts/arlon/arlon-semi-bold.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

html, body {
    scroll-behavior: smooth
}

[x-cloak] {
    display: none;
}

@layer components {
    .experience::before{
        content:'';
        position: absolute;
        right: 0;
        left:0;
        top: -25px;
        height: 50px;
        background-color: white;
        transform: skewY(-2deg);
    }
    .experience::after{
        content:'';
        position: absolute;
        right: 0;
        left:0;
        bottom: -40px;
        height: 50px;
        background-color: white;
        transform: skewY(1deg);
    }
}

